@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-link {
    @apply inline-block w-full px-4 py-3 text-base text-slate-800 transition-all;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
